
Main_FullStack/amplifyapp/Frontend/.vscode/settings.json
Main_FullStack/amplifyapp/Frontend/.vscode/settings.json
Main_FullStack/amplifyapp/Frontend/.vscode/settings.json
Main_FullStack/amplifyapp/Frontend/.vscode/settings.json
Main_FullStack/amplifyapp/Frontend/amplify/.config/project-config.json
Main_FullStack/amplifyapp/Frontend/amplify/backend/auth/twitter57f0f3d4/cli-inputs.json
Main_FullStack/amplifyapp/Frontend/amplify/backend/backend-config.json
Main_FullStack/amplifyapp/Frontend/amplify/backend/tags.json
Main_FullStack/amplifyapp/Frontend/amplify/backend/types/amplify-dependent-resources-ref.d.ts
Main_FullStack/amplifyapp/Frontend/amplify/cli.json
Main_FullStack/amplifyapp/Frontend/amplify/team-provider-info.json
Main_FullStack/amplifyapp/Frontend/package-lock.json
